.login-alert{
	display:none;
	position:fixed;
	top:40%;
	left: 38%;
	z-index:1501;
	width:25%;
}

.veil{
	display:none;
	height:100%;
	width:100%;
	position:absolute;
	top:0%;
	left:0%;
	opacity: 0.6;
	background-color: rgb(0,0,0);
	z-index:1500;
}

.veil-l1{
	z-index:1400;
	opacity:0.3;
}

.veil-l2{
	z-index: 1500;
	opacity:0.1;
}

.popup-2{
	display:none; /*none dopo il debugging*/
	position:fixed;
	z-index: 1501;
	left:22%;
	bottom:35%;
	width: 35%;
	height:30%;
}

.popup-1{
	display:none;
	position:fixed;
	top:25%;
	left: 20%;
	z-index:1401;
	width:60%;
}

.grey{
	background-color: #B3AA76;
}

.login-body {
    height: 100%;
    background-image: url("../images/pattern/pattern.jpg");
}

.campo-svil{
  display: none;
}

.azzurro{
	color: #00C0EF;
}
